.projectWrapper {
    position: relative;
    width: 30%;
    height: 400px;
    border-radius: 20px;
    display: flex;
    margin: 20px;
    justify-content: center;
    align-items: flex-end;
    transition: all .3s ease;
    background-size: cover;
    background-position: left center;
    background-origin: border-box;
    object-fit: cover;
   
}
.projectWrapper::after {
    border-radius: 20px;
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Black overlay with 50% opacity */
    z-index: 1; /* Place the overlay above the image */
}
.projectWrapper:hover {
        transform: scaleY(1.1);
        box-shadow: rgba(101, 100, 100, 0.25) 0px 54px 55px,
        rgba(128, 119, 119, 0.12) 0px -12px 30px,
        rgba(154, 148, 148, 0.12) 0px 4px 6px,
        rgba(162, 150, 150, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
        background-position: center;
}

.projectSummery {
    z-index: 3;
}
.projectSummery > h2 {
    font-size: 1.5rem;
    margin: 20px auto;
   
}
.projectSummery > a {
    display: inline-block;
    text-decoration: none;
    color: #c6c9d8bf;
    border: 1px solid #c6c9d8bf;
    transition: all .3s ease;
    padding: 10px 20px;
    margin: 20px auto;

}
.projectSummery > a:hover {
    background-color: #f9004d;
}


@media screen and (max-width: 768px) {
    /* Styles for screens with a maximum width of 768px */
    .projectWrapper {
      min-width: 80%;
    }
  }