* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
}
body{
    width: 100%;
    height: 100%;
    position: relative;

}


section {
    min-height: 100vh;
    padding-top:10vh;
    padding-bottom: 20px;
   
    
}

section:nth-child(even){
    background-color: #191919;
}

section:nth-child(odd){
    background-color: #101010;
}


/* @media screen and (max-width: 768px) { */
    /* Styles for screens with a maximum width of 768px */
  /* } */